:root {
  --primary: #003876; /* Azul formal */
  --accent: #d52b1e;  /* Toque sutil de la bandera */
  --light: #f4f4f4;
}

body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; line-height: 1.6; }

nav { background: var(--primary); padding: 1rem; display: flex; justify-content: space-around; }
nav a { color: white; text-decoration: none; font-weight: bold; }

.hero { background: linear-gradient(rgba(0,56,118,0.8), rgba(0,56,118,0.8)), url('../img/escuela.jpg'); 
        height: 60vh; display: flex; align-items: center; justify-content: center; color: white; text-align: center; }

.grid-personal { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; padding: 20px; }
