<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Centro Educativo RD</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

<header>
    <nav class="glass-nav">
        <div class="logo">CENTRO<span> EDUCATIVO</span><span>RD</span></div>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        
        <ul class="nav-links">
            <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
            <li><a href="{{ '/historia' | relative_url }}">Historia</a></li>
            <li><a href="{{ '/oferta' | relative_url }}">Oferta</a></li>
            <li><a href="{{ '/ejes-transversales' | relative_url }}">Ejes</a></li>
            <li><a href="{{ '/personal' | relative_url }}">Personal</a></li>
            <li><a href="{{ '/egresados' | relative_url }}">Egresados</a></li>
            <li><a href="{{ '/noticias' | relative_url }}">Noticias</a></li>
            <li><a href="{{ '/galeria' | relative_url }}">Galería</a></li>
            <li><a href="{{ '/contactos' | relative_url }}" class="btn-cta">Contactos</a></li>
        </ul>
    </nav>
</header>

    <main>
        {{ content }}
    </main>

    <footer class="footer-moderno">
        <p>&copy; 2026 Centro Educativo Secundario - República Dominicana- Jorge Luis Abreu</p>
        <div class="socials">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>           
        </div>
    </footer>

</body>
</html>
